version: '3.8'

services:
  api:
    build:
      target: development
    environment:
      - NODE_ENV=development
    volumes:
      - .:/app
      - /app/node_modules
      - /app/dist
    command: npm run start:dev
